{# nav>ul>(li>a)*2 #}
<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_test') }}">Test</a></li>
        <li><a href="{{ path('serie_list') }}">All TV-Shows</a></li>
        <li><a href="{{ path('serie_create') }}">Create a TV-Show</a></li>
    </ul>
</nav>


